.header {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  top: 0;
}

.header--row {
  padding: 5px;
}

.header--logo {
  margin: 0 auto;
  display: inline-block;
  width: 20%;
  text-align: center;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.header--left {
  box-sizing: border-box;
  width: 40%;
  height: 100%;
  float: right;
  display: flex;
  padding: 5px;
}

.header--right {
  box-sizing: border-box;
  width: 40%;
  float: left;
  display: flex;
  height: 100%;
  padding: 5px;
}

.header--item {
  color: white;
  width: 45%;
  display: inline-block;
  margin: 0;
  padding: 0;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}

.header--item__active {
  color: orange;
  width: 45%;
  display: inline-block;
  margin: 0;
  padding: 0;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.header--nav {
  color: grey;
  display: flex;
  margin-left: auto;
  cursor: pointer;
}

.header--nav-item {
  display: inline-block;
  padding: 5px 8px;
  cursor: pointer;
}